doctype
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title The Good Looking Book Store
    link(rel='stylesheet', href='./static/stylesheets/styles.css')
    link(rel='stylesheet', href='./static/stylesheets/meyers-reset.css')
    link(href='https://fonts.googleapis.com/css?family=Lato|Playfair+Display', rel='stylesheet')
    script.
      //packery logic
      var elem = document.querySelector('.grid');
      var pckry = new Packery( elem, {
      // options
      itemSelector: '.grid-item',
      gutter: 10
      });
      // element argument can be a selector string
      //   for an individual element
      var pckry = new Packery( '.grid', {
      // options
      });
  body
    // Template preparation
    ul.hidden
      li.book-cover
      li.book-title
      li.book-author
      li.book-description
    main
      // Navigation
      section
        #navigation.container
          // logo
          img#logo(src='images/short-wallaby.svg', alt='logo')
          // search box
          form.search
            input#search-box(type='text', name='', value='Enter a Book Title or Author')
            button#add-book(type='submit', name='button') Add Book
          // add a book button
      // Sections for different page views
      // Home Page
      section#home.tab-content
        .grid
          ul.grid-item
            each book in short_wallaby_library
              li = img(src="' + book.bookUrl + '")
      // Book Detail Page
      section#book-detail.tab-content
        .detail-display
          h1 Book Detail
          // Book image
          img.book-holder-image(src='http://placehold.it/170x260.jpg', alt='blank book image')
          // container to hold title, author, description
          .book-info
            h1.book-title Book Title
            h2.book-author Book Author
            p.book-description Book Description
          // Form to hold edit and del buttons
          form.book-detail-buttons
            button(type='submit', name='button') Edit
            button(type='submit', name='button') Delete
      // Book Edit Page
      section#book-edit.tab-content
        .detail-display
          h1 Edit Book Information
          // Book image
          img.book-holder-image(src='http://placehold.it/170x260.jpg', alt='blank book image')
          // container to hold title, author, description
          .book-info
            form
              input.book-title(type='text', name='', value='Book Title')
              input.book-author(type='text', name='', value='Book Author')
              input.book-description(type='text', name='', value='Book Description')
          // Form to hold edit and del buttons
      // Book Add Page
      section#book-add.tab-content
        .detail-display
          h1 Add A Book
          // Book image
          img.book-holder-image(src='http://placehold.it/170x260.jpg', alt='blank book image')
          // container to hold title, author, description
          .book-info
            form
              input.book-title(type='text', name='', value='Enter Book Title')
              input.book-author(type='text', name='', value='Enter Book Author')
              input.book-description(type='text', name='', value='Enter Book Description')
          // Form to hold edit and del buttons
    // Main Scripts
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    // <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    script(src='vendor-scripts/packery.pkgd.min.js')
    script(type='text/javascript', src='packery.js')
    script(type='text/javascript', src='data/library.js')
    script(type='text/javascript', src='scripts/models/libraryModel.js')
    // <script type="text/javascript" src="scripts/models/libraryView.js"></script>
