extends layout

block content
  // Book Add Page
  section#book-add.tab-content
    .detail-display
      h1 Add A Book
      // Book image
      img.book-holder-image(src='http://placehold.it/170x260.jpg', alt='blank book image')
      // container to hold title, author, description
      .book-info
        form
          input.book-title(type='text', name='', value='Enter Book Title')
          input.book-author(type='text', name='', value='Enter Book Author')
          input.book-description(type='text', name='', value='Enter Book Description')
      // Form to hold edit and del buttons
