extends layout

block content

  main
    // Navigation
    section
      #navigation.container
        // logo
        img#logo(src='images/short-wallaby.svg', alt='logo')
        // search box
        form.search
          input#search-box(type='text', name='', value='Enter a Book Title or Author')
          button#search-book(type='submit', name='button') Search
    // Home Page
    section#home.tab-content
      .grid
        ul.grid-item
          each book in books
            li
              img(src=book.bookUrl)
